/* CSS file for the website */

/* CSS that applies to all pages */
/* Normalization */
*{
    margin: 0;
    padding: 0;
    border: 0;
    top: 0;
    left: 0;
}

/* CSS for body */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header and Navigation */
#mainHeader{
    background-color: #aeaaaa;
}
#websiteHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
#websiteLogo{
    position: absolute;
    width: 120px;
    height: auto;
}
#websiteHeader h1,h2{
    font-family: 'Notable', sans-serif;
}
#websiteHeader h1{
    font-size: 40px;
    letter-spacing: 4px;
} 
#websiteHeader h2{
    font-size: 28px;
    letter-spacing: 8px;
}

#navbarDesktop, .navbarMobileItem{
    width: auto;
    padding: 20px;
    background-color: #19315b;
}
#navbarDesktop ul{
    display: flex;
    justify-content: space-evenly;
}
.navbarDesktopItem, .navbarMobileItem{
    list-style-type: none;
}
.navbarDesktopItem a, .navbarMobileItem a{
    padding: 20px 16px;
    color: #FFF;
    text-decoration: none;
}
.navbarDesktopItem a:hover, .navbarMobileItem a:hover{
    background-color: #295197;
}
#navbarMobile{
    display: none;
}

/* Footer and Cookies */
#mainFooter, #mainGridFooter{
    order: 10;
    padding: 20px;
    background-color: #d6dce4;
}
#mainGridFooter{
    display: grid;
    grid-template-columns: auto 35% 20%;
    grid-template-areas: 
        "copyright copyright";
}
#copyrightWebsite{
    grid-area: copyright;
}
#cookies{
    position: fixed;
    top: auto;
    left: auto;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 18%;
    color: #FFF;
    background-color: #ffaa0080;
    z-index: 9999;
}

/* Index page content */
#flexContainer{
    display: flex;
    flex-direction: column;
}
#mainFlexContent{
    display: flex;
    flex-wrap: wrap;
}
/* Video */
#promotionalVideo{
    flex: 100%;
    display: flex;
    justify-content: center;
    border-width: 10px;
    border-style: double;
    border-color: #000000;
    background-color: #f8cbad;
}
#promotionalVideo video{
    width: 800px;
}

/* Articles */
#contentArticles{
    flex: 70%;
    display: flex;
    flex-wrap: wrap;
}
.articleSports{
    padding: 16px;
    border-width: 10px;
    border-style: double;
    border-color: #000000;
}
.articleSports h1{
    padding: 4px;
    text-transform: uppercase;
}
.articleSports figure{
    clear: both;
    float: right;
}
.articleSports img{
    height: 200px;
}
.articleSports p{
    word-spacing: 4px;
    line-height: 24px;
    text-indent: 20px;
}
#sport1{
    background-color: #e2efda;
}
#sport2{
    background-color: #c6e0b4;
}
#sport3{
    background-color: #a9d08e;
}

/* Aside */
#asideTrends{
    flex: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20px;
    border-width: 10px;
    border-style: double;
    border-color: #000000;
    background-color: #fff2cc;
}
#asideTrends ol{
    padding: 10px;
}
.trendsItem{
    padding: 5px;
    line-height: 30px;
}

/* Product page content */
/* Product Main Content */
#innovationArticles{
    display: grid;
    grid-template-columns: auto 35% 20%;
    grid-template-areas: 
        "article2 article1 article3"
        "article2 article1 article3"
        "article5 article1 article3"
        "article5 article1 article4"
        "article5 article1 article4"
        "article5 article1 article4"
        "article5 article6 article6"
        ;
    grid-gap: 10px;
}
.productArticle{
    padding: 16px;
    border-width: 10px;
    border-style: double;
    border-color: #000000;
}
#articleSports p::first-letter{
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 2px;
}
#productArticle1{
    grid-area: article1;
    background-color: #fff2cc;
}
#productArticle2{
    grid-area: article2;
    background-color: #e2efda;
}
#productArticle3{
    grid-area: article3;
    background-color: #acb9ca;
}
#productArticle4{
    grid-area: article4;
    background-color: #c6e0b4;
}
#productArticle5{
    grid-area: article5;
    background-color: #ddebf7;
}
#productArticle6{
    grid-area: article6;
    background-color: #fce4d6;
}

/* Aside */
#asideProducts{
    display: grid;
    grid-template-columns: auto 35% 20%;
    grid-template-areas: 
        "asideHeader asideHeader asideHeader"
        "product1 product2 product3";
    grid-gap: 10px;
    background-color: #ff9d9d;
    padding: 10px;
}
#asideProducts figure{
    padding: 10px;
    border: 2px double #000000;
}
#asideProduct1{
    grid-area: product1;
    background-color: #d0cece;
}
#asideProduct2{
    grid-area: product2;
    background-color: #aeaaaa;
}
#asideProduct3{
    grid-area: product3;
    background-color: #757171;
}
#asideProducts img{
    width: 200px;
}

/* Pricing page content */
#mainGridContent{
    display: grid;
    grid-template-columns: auto 35% 20%;
    grid-template-areas: 
    "pageContent pageContent aside";
}
/* Pricing Table */
#tableContent{
    grid-area: pageContent;
    padding: 20px;
    background-color: #bdd7ee;
}
#tableContent tr td:first-child{
    background-color: #FF0;
}
#tableContent tr:nth-child(even){
    background-color: #CFF;
}
#tableContent tr:nth-child(odd){
    background-color: #FFF;
}

/* Contact page content */
/* Contact main content */
#contactForm{
    grid-area: pageContent;
    padding: 20px;
    background-color: #cecece;
}
#contactForm > section, #contactForm > form{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 20px;
    border: 8px double #000000;
    border-radius: 10px;
}
#contactForm > section > h1, #contactForm > form > h1{
    font-size: x-large;
}
#contactForm > section > p{
    padding-top: 16px;
}
#contactForm > section > p:last-child{
    text-transform: uppercase;
}
#contactForm > form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 20px;
}
#contactForm > form > fieldset{
    margin-top: 20px;
    padding: 20px;
    border: 2px dashed #000000;
    border-radius: 10px;
}
#contactForm input, textarea{
    align-self: center;
    margin-left: 30px;
    padding: 16px;
    border: 2px solid #000000;
    border-radius: 5px;
}
#contactForm > form > fieldset > fieldset{
    padding: 8px 0;
}
.requiredField{
    color: rgb(255, 0, 0);
}
#buttonSubmit{
    width: 20em;
    margin: 10px 10px 20px 10px;
    padding: 10px;
    background-color: #295197;
    color: #ffffff;
    border-radius: 10px;
}

/* Aside "TOP3 Products" for Pricing and Contact page */
/* Aside */
#asideTop3Products{
    background-color: #aeaaaa;
    grid-area: aside;
    padding: 10px;
}
#asideTop3Products figure{
    padding: 10px;
    margin-top: 16px;
    border: 2px double #000000;
}
#asideTop3Products img{
    width: 200px;
}

/* Responsive */
@media (min-width: 720px) and (max-width: 1200px){
    #navbarMobile{
        display: none;
    }
    /* Index */
    /* Articles */
    #sport1{
        order: 3;
    }
    #sport2{
        order: 2;
    }
    #sport3{
        order: 1;
    }
    .articleSports figure{
        clear: both;
        float: left;
    }

    #contentArticles{
        flex: 100%;
        display: flex;
        flex-wrap: wrap;
    }
    /* Aside */
    #asideTrends{
        flex: 100%;
        order: 1;
    }
    #promotionalVideo{
        order: 2;
    }
    #contentArticles{
        order: 3;
    }
    /* Product page content */
    /* Product Main Content */
    #innovationArticles{
        display: grid;
        grid-template-columns: auto 50%;
        grid-template-areas: 
            "article1 article2"
            "article1 article2"
            "article3 article2"
            "article3 article5"
            "article3 article5"
            "article3 article5"
            "article6 article6"
            "article6 article6"
            ;
        grid-gap: 10px;
    }
    #productArticle4{
        display: none;
    }
    /* Aside */
    #asideProducts{
        display: grid;
        grid-template-columns: auto 50%;
        grid-template-areas: 
            "asideHeader asideHeader"
            "product1 product2";
        grid-gap: 10px;
    }
    #asideProduct3{
        display: none;
    }
}
@media (max-width: 720px){
    /* Navigation */
    #navbarDesktop{
        display: none;
    }
    /* Hamburger menu */
    .navMenuButton{
        display: none;
    }
    #navbarMobile{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        width: 100%;
        background-color: #19315b;
    }
    #hamburger{
        width: 30px;
        padding: 20px;
        margin: 20px;
    }
    .hamburgerIcon, .hamburgerIcon::before, .hamburgerIcon::after{
        display: block;
        position: relative;
        height: 5px;
        width: 20px;
        background-color: #ffffff;
    }
    .hamburgerIcon::before{
        top: -8px;
        content: "";
    }
    .hamburgerIcon::after{
        top: 4px;
        content: "";
    }
    #navMenuButton:checked ~ .navList{
        display: block;
    }
    .navList{
        display: none;
    }

    /* Index Page */
    #promotionalVideo{
        display: none;
    }
    /* Index */
    .articleSports{
        display: flex;
        flex-direction: column;
    }
    .articleSports p{
        order: 1;
    }
    .articleSports figure{
        float: none;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        order: 2;
    }
    #sport1{
        order: 3;
    }
    #sport2{
        order: 2;
    }
    #sport3{
        order: 1;
    }
    
    /* Aside */
    #asideTrends{
        flex: 100%;
        order: -1;
    }

    /* Product page content */
    /* Product Main Content */
    #innovationArticles{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            "article5"
            "article3"
            "article2"
            "article1"
            ;
        grid-gap: 10px;
    }
    /* Aside */
    #asideProducts{
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 
            "asideHeader"
            "product1"
            "product2"
            "product3"
            ;
        grid-gap: 10px;
    }
    #productArticle4, #productArticle6{
        display: none;
    }
}