/* CSS file for the website */

/* CSS that applies to all pages */
/* Normalization */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* CSS for body */
body{
    font-family: Arial, Helvetica, sans-serif;
}

/* Header and Navigation */
#mainHeader{
    background-color: #aeaaaa;
}
#websiteHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
#websiteLogo{
    width: 120px;
    height: auto;
}
#websiteHeader h1,h2{
    font-family: 'Notable', sans-serif;
}
#websiteHeader h1{
    font-size: 40px;
    letter-spacing: 4px;
} 
#websiteHeader h2{
    font-size: 28px;
    letter-spacing: 8px;
}

#navbar{
    position: sticky;
    top: 0;
    width: auto;
    padding: 20px;
    background-color: #19315b;
}
#navbar ul{
    display: flex;
    justify-content: space-evenly;

}
.navbarItem{
    list-style-type: none;
}
.navbarItem a{
    padding: 20px 16px;
    color: #FFF;
    text-decoration: none;
}
.navbarItem a:hover{
    background-color: #295197;
}
a:active{
    color: red;
   text-decoration: underline; 
}

/* Footer and Cookies */
#mainFooter, #mainGridFooter{
    padding: 20px;
    background-color: #d6dce4;
}
#mainGridFooter{
    display: grid;
    grid-template-columns: auto 35% 20%;
    grid-template-areas: 
        "copyright copyright";
}
#copyrightWebsite{
    grid-area: copyright;
}
#cookies{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    width: 18%;
    color: #FFF;
    background-color: #ffaa0080;
    z-index: 9999;
}

/* Index page content */
#flexContainer{
    display: flex;
    flex-direction: column;
}
#mainFlexContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}
/* Video */
#promotionalVideo{
    flex: 100%;
    display: flex;
    justify-content: center;
    border-width: 10px;
    border-style: double;
    border-color: #000000;
    background-color: #f8cbad;
}
#promotionalVideo video{
    width: 800px;
}
/* Articles */
#contentArticles{
    flex: 20%;
    display: flex;
    flex-wrap: wrap;
}
#contentArticles article{
    padding: 16px;
}
#contentArticles h1{
    padding: 4px;
    text-transform: uppercase;
}
#contentArticles p{
    line-height: 24px;
    text-indent: 20px;
}
#contentArticles figure{
    clear: both;
    float: right;
}
#contentArticles img{
    height: 200px;
}
#contentArticles article{
    border-width: 10px;
    border-style: double;
    border-color: #000000;
    background-color: #e2efda;
}
#contentArticles article:nth-child(even){
    background-color: #c6e0b4;
}
#contentArticles article p{
    word-spacing: 4px;
}
/* Aside */
#asideTrends{
    flex: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20px;
    border-width: 10px;
    border-style: double;
    border-color: #000000;
    background-color: #fff2cc;
}
#asideTrends ol{
    padding: 10px;
}
.trendsItem{
    padding: 5px;
    line-height: 30px;
}

/* Product page content */
/* Product Main Content */
#innovationArticles{
    display: grid;
    grid-template-columns: auto 35% 20%;
    grid-template-areas: 
        "article2 article1 article3"
        "article2 article1 article3"
        "article5 article1 article3"
        "article5 article1 article4"
        "article5 article1 article4"
        "article5 article1 article4"
        "article5 article6 article6"
        ;
    grid-gap: 10px;
}
#innovationArticles article{
    padding: 20px;
    border: 2px double #000000;
}
#productArticle1{
    grid-area: article1;
    background-color: #fff2cc;
}
#productArticle2{
    grid-area: article2;
    background-color: #e2efda;
}
#productArticle3{
    grid-area: article3;
    background-color: #acb9ca;
}
#productArticle4{
    grid-area: article4;
    background-color: #c6e0b4;
}
#productArticle5{
    grid-area: article5;
    background-color: #ddebf7;
}
#productArticle6{
    grid-area: article6;
    background-color: #fce4d6;
}

/* Aside */
#asideProducts{
    display: grid;
    grid-template-columns: auto 35% 20%;
    grid-template-areas: 
        "asideHeader asideHeader asideHeader"
        "product1 product2 product3";
    grid-gap: 10px;
}
#asideProducts figure{
    padding: 10px;
    border: 2px double #000000;
}
#asideProduct1{
    grid-area: product1;
    background-color: #d0cece;
}
#asideProduct2{
    grid-area: product2;
    background-color: #aeaaaa;
}
#asideProduct3{
    grid-area: product3;
    background-color: #757171;
}
#asideProducts img{
    width: 200px;
}

/* Pricing page content */
#mainGridContent{
    display: grid;
    grid-template-columns: auto 35% 20%;
    grid-template-areas: 
    "tableContent tableContent aside";
    grid-gap: 10px;
}
/* Pricing Table */
#tableContent{
    grid-area: tableContent;
    padding: 20px;
    background-color: #bdd7ee;
}
#tableContent tr td:first-child{
    background-color: #FF0;
}
#tableContent tr:nth-child(even){
    background-color: #CFF;
}
#tableContent tr:nth-child(odd){
    background-color: #FFF;
}



/* Aside */
#asidePricing figure{
    padding: 10px;
    border: 2px double #000000;
}
#asidePricing{
    grid-area: aside;
}
#asidePricing img{
    width: 200px;
}