/* CSS file for the website */

/* CSS that applies to all pages */
/* Normalization */
*{
    margin: 0;
    padding: 0;
    border: 0;
}

/* CSS for body */
body{
    font-family: Arial, Helvetica, sans-serif;
}
#flexContainer{
    display: flex;
    flex-direction: column;
}

/* Header and Navigation */
#mainHeader{
    background-color: #aeaaaa;
}
#websiteHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
#websiteLogo{
    width: 120px;
    height: auto;
}
#websiteHeader h1,h2{
    font-family: 'Notable', sans-serif;
}
#websiteHeader h1{
    font-size: 40px;
    letter-spacing: 4px;
} 
#websiteHeader h2{
    
    font-size: 28px;
    letter-spacing: 8px;
}

#navbar{
    position: sticky;
    top: 0;
    width: auto;
    padding: 20px;
    background-color: #19315b;
}
#navbar ul{
    display: flex;
    justify-content: space-evenly;

}
.navbarItem{
    list-style-type: none;
}
.navbarItem a{
    padding: 20px 16px;
    color: #FFF;
    text-decoration: none;
}
.navbarItem a:hover{
    background-color: #295197;
}

/* Footer and Cookies */
#mainFooter{
    padding: 20px;
    background-color: #d6dce4;
}
#cookies{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: #FFF;
    background-color: #ffaa0080;
    z-index: 9999;
}

/* Index Page Content */
#mainContent{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    margin-left: 10%;
    margin-right: 10%;
}

#promotionalVideo{
    flex: 100%;
    display: flex;
    justify-content: center;
    border-width: 10px;
    border-style: double;
    border-color: #000000;
    background-color: #f8cbad;
}
#promotionalVideo video{
    width: 800px;
}

#contentArticles{
    flex: 20%;
    display: flex;
    flex-wrap: wrap;
}
#contentArticles article{
    padding: 16px;
}
#contentArticles h1{
    padding: 4px;
    text-transform: uppercase;
}
#contentArticles p{
    line-height: 24px;
    text-indent: 20px;
}
#contentArticles figure{
    clear: both;
    float: right;
}
#contentArticles img{
    height: 200px;
}
#articleSports{
    border-width: 10px;
    border-style: double;
    border-color: #000000;
    background-color: #e2efda;
}
#articleSports:nth-child(even){
    background-color: #c6e0b4;
}
#articleSports p{
    word-spacing: 4px;
}

#asideTrends{
    flex: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 20px;
    border-width: 10px;
    border-style: double;
    border-color: #000000;
    background-color: #fff2cc;
}
#asideTrends ol{
    padding: 10px;
}
.trendsItem{
    padding: 5px;
    line-height: 30px;
}
